@media screen and (min-width: 1024px){
	div.navbar-brand{
		margin-right:170px;
	}

}
div.navbar-brand{
	font-size:1.25em;
				 
}
div.navbar-start{
	font-size:18px;
}
a.navbar-link{
	padding-top:0.9em;
	padding-bottom:0.86em;
}

img#brand-logo{
	margin-left:6px;
	margin-right: 8px;
	margin-top: 5px

}
.navbar-item img{
	max-height: 2rem
}

a#brand-name{
	padding-bottom:0.55em

}

i.fab.fa-github{
	font-size:25px

}

